@charset "UTF-8";

/* 共通部分 */
*{
	margin: 8px;
	padding: 0;
	font-family: "M PLUS Rounded 1c", sans-serif;
	
}
html {
	font-size: 100%;
}
h1 {
	font-size: 64px;
	color: #a47864;
	background-color: #F4C6CD
}
img {
	width: 46%;
}
ul {
	list-style: none;
	display: flex;
}
#gnav ul {
	display: flex;
	justify-content: right;
}
main {
	background-color: #D3ECF5;
}
.section-title {
	margin-bottom: 60px;
	font-size: 4rem;
	text-align: center;
}
.box {
	display: flex;
	margin-bottom: 100px;
	padding-bottom: 0%;
}
article {
	width: fit-content;
	margin: 0 auto;
}
.text-box {
	font-size: 28px;
}
.profile {
	font-size: 20px;
	font-weight: bold;
	color: #a47864;
}
footer {
	font-size: 24px;
	padding: 10px 0;
   	color: #a47864;
	background-color: #F4C6CD;
	text-align: center;
}






